<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.mapper.ResultMapper">

    <select id="getAll" resultMap="resList" parameterType="int">
        select Id, StudentNo, SubjectId, StudentResult, ExamDate
        from `result` where SubjectId=#{id} order by StudentResult desc;
    </select>

    <resultMap id="resList" type="result">
        <id property="id" column="id"/>
        <association property="subject" column="SubjectId" select="getSubjectById"/>
        <association property="student" column="studentno" select="getStudentByNo"/>
    </resultMap>

    <select id="getSubjectById" resultType="subject">
        select SubjectId, SubjectName, ClassHour, GradeId
        from subject where SubjectId=#{id};
    </select>

    <select id="getStudentByNo" resultType="student">
        select StudentNo,
               LoginPwd,
               StudentName,
               Sex,
               GradeId,
               Phone,
               Address,
               BornDate,
               Email
        from student
        where StudentNo = #{no};
    </select>
</mapper>
